
.calendar-view {
  height: 500px;
  position: relative;

  .days {
    position: absolute;
    height: 100%;

    .day.new-month {
      border-left: 1px solid #bbb;

      .month {
        display: block;
      }
    }

    .day, .day:first-child {
      height: 100%;
      width: 30px;
      border-left: 1px solid #eee;
      float: left;
      padding: 3px;
      text-align: center;
      color: #bbb;
      font-size: 10px;

      .month {
        display: none;
      }
    }

    .day:last-child {
      border-right: 1px solid #eee;
    }

    .day.weekend {
      background: #f5f5f5;
    }
  }

  .tasks {
    position: absolute;
    margin-top: 50px;

    .task {
      position: relative;
      border-radius: 3px;
      background: #62BDD5;
      color: #fff;
      font-size: 12px;
      padding: 4px;
    }
  }
}
