
.timeline {
  .timeline-day.new-month {
    border-left: 1px solid #bbb;
    font-weight: bold;

    .month {
      display: block;
    }
  }

  .timeline-day {
    height: 100%;
    width: 30px;
    border-left: 1px solid #eee;
    float: left;
    padding: 3px;
    text-align: center;
    color: #bbb;
    font-size: 10px;

    .month {
      display: none;
    }
  }

  .timeline-day:last-child {
    border-right: 1px solid #eee;
  }

  .timeline-day.weekend {
    background: #f5f5f5;
  }
}
